<!doctype html><html><body style="margin:0">
<div id=app style="position:absolute;top:0;left:0;right:0">
 <div id=mc style="position:fixed;top:0;width:100%;z-index:5">
  <div id=mh style="display:block"><div id=ct style="display:flex;height:56px;background:#c33;align-items:center"><div style="width:90px;height:20px;background:#333"></div><div style="flex:1"></div><div style="width:40px;height:40px;background:#36c"></div></div></div>
 </div>
 <div style="margin-top:56px;height:200px;background:#ddd">content</div>
</div></body></html>
